{% extends 'base.html.twig' %}

{% block title %}Effectuer des sorties{% endblock %}

{% block body %}

    <div class="container">
        <h2>SORTIE</h2>
        {{ form_start(form) }}
        {{ dump(form) }}
            <div class="well" id="list_produit" data-prototype="{{ form_widget(form)|e('html_attr') }}">
                {{ form_row(form.produit) }}
                {{ form_row(form.quantiteSortie) }}
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
